/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* End of reset */

/* Add CSS styling here */
body {
  margin: 2.6%;
}

.color {
  background-color: rgb(163, 163, 194);
}
.header-sec {
  font-family: verdana, san-serif;
  color: rgb(51, 51, 77);
  padding: 2%;
}

.header-sec h1 {
  font-size: 2rem;
  margin: 2%;
}

.nav {
   margin-left: 5%;
   display: flex;
   justify-content: flex-start;
}

.nav a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: .8rem 2rem;
  background-color: blue;
  color: #fff;
}

.nav a:hover {
  background: #000;
  color: #fff;
}

/* header */
.main-section {
    width: 100%;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.main-section #main-pic {
    width: 37rem;
    height:28rem;
    background: blue;
    /* margin: 2%; */
}

.main-section .autobiography {
    width: 36rem; 
    height: auto;
}

.align {
   margin: 2%; 
}

h2 {
  font-size: 2.2rem;
}

.main-section .autobiography p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.main-section .autobiography a {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: blue;
    color: #fff;
    border: none;
    padding: 2%;
    display: block;
    width: 16.5%;
}

.main-section .autobiography a:hover {
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container .box {
    width: 16rem;
    height: 16rem;
    margin: 1%; 
    background: blue;
}

/* footer */
footer {
  width: 100%;
  height: 80%;
  background: rgb(163, 163, 194);
  display: flex; 
  flex-flow: column wrap;
  align-items: center;
}

.footer-nav {
  font-size: 1.2rem;
  background-color: blue;
  color: #fff;
  border: none;
  padding: 0.5% 1%;
}

footer p {
    font-size: 1.5rem;
    padding: 2%;
}

footer button a {
 text-decoration: none;
 color: #fff;
}

nav a img {
    width: 5%;
    height: 5%;
}

