/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* End of reset */

/* margin for the entire body or page*/
body {
  margin: 2.6%; 
}

/* header */
header {
padding: 1.4rem;
margin-bottom: 15px;
}

.header-sec {
  font-family: verdana, san-serif;
  color: rgb(51, 51, 77);
}

.header-sec h1 {
  font-size: 2rem;
}

.top-section {
  width: 100%;
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.top-section #main-pic {
  width: 37rem;
  height:28rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.4rem; 
}

/* sizes the top-section images  */
.box {
  width: 16rem;
  height: 16rem;
}

/* center text under top-section images */
.portfolio-elements p {
  padding-top: 1rem;
  text-align: center;
}

/* padding for top-section autobiography text */
.description {
  padding: 1.4rem;
}

/* Main section paragraph */
#main-para {
  font-size: 1.2rem;
  line-height: normal;
}

/* defines styling rules for all nav tags on the page*/
.nav {
  padding: 10px 0;
}

.nav button {
  border: none;
  padding: .8rem 1rem;
  background-color: blue;
 
}

.nav button a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

.nav button:hover {
  background: #000;
  color: #fff;
}

/* footer */
footer {
  display: flex; 
  flex-flow: column wrap;
  align-items: center;
  padding: 1.4rem;
}

/* picture size for social media image links in footer section */
.social-media {
    width: 5%;
    height: 5%;
}

/* background color for the header and footer section */
.background-color {
  background-color: rgb(163, 163, 194);
}

/* font size for all h2 on page */
h2 {
  font-size: 2rem;
}

